nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 10px;
    background-color: var(--aq-white);
}

@media (max-width:768px) {
    nav {
        position: sticky !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: var(--aq-white);
    }

}

#home_banner {
    /* height: 100vh; */
    background-color: var(--aq-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--aq-white);

    .banner {
        width: 100%;

        .heading_font {
            padding: 10px 0px;
            color: var(--aq-dark);
            width: 100%;
            background: linear-gradient(90deg, transparent, white, transparent);
        }
    }

}


#home_our_cources {
    background-color: var(--aq-dark);
    color: var(--aq-white);

    .cources {
        /* max-width: 360px; */
        width: 100%;
        /* height: 15px; */
        margin-bottom: 25px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: start;
        text-decoration: none;
        cursor: pointer;


        .icon {
            min-width: 70px;
            width: 70px;
            min-height: 70px;
            height: 70px;
            background-color: var(--aq-white);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            /* border-radius: 50px 20px 20px 25px; */
            /* border: 1px solid var(--aq-white); */
            border-radius: 50%;
            /* rotate: 45deg; */
            margin: 0px 25px 25px 0px;
            position: relative;

            .inner {
                width: 55px;
                height: 55px;
                /* border-radius: 50px 20px 20px 25px; */
                /* border-radius: 20px 25px 50px 20px; */
                border-radius: 50%;
                /* rotate: -45deg; */
                z-index: 1;
                background-color: var(--aq-primary);
                /* box-shadow: 0px 0px 5px var(--aq-shadow); */
                color: var(--aq-white);
                font-size: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                /* border: 1px solid var(--aq-dark); */
            }
        }

        .desc {
            /* padding-left: 15px; */
        }

        .desc h4 {
            color: var(--aq-white) !important;
            /* font-weight: 600; */

        }


    }

    p {
        color: var(--aq-shadow);
    }
}


#home_login {
    .desc {
        .h2 {
            color: var(--aq-dark);
        }

        text-align: center;
        padding: 100px 25px;

        /* background-color: var(--aq-primary); */
        .btn_primary {
            border-radius: 25px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                height: 90%;
                border-radius: 25px;
                border: 1px solid var(--aq-white);
            }
        }
    }
}

.batch {
    padding: 25px 0px;
    margin-bottom: 15px;


    .batch_title {
        .icon {
            /* background-color: #000; */
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            /* border: 1px solid var(--aq-dark); */
            box-shadow: 0px 0px 5px var(--aq-shadow);
            margin-bottom: 1rem;
            position: relative;
            z-index: 1;
            /* background-color: var(--aq-dark); */
            width: 100px;
            height: 100px;

            .inner {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translatex(-50%);
                background-color: var(--aq-white);
                border-radius: 50%;
                /* border: 1px solid var(--aq-dark); */
                font-size: 18px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 5px var(--aq-shadow);
                color: var(--aq-dark);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 360px;
                height: 1px;
                background-color: var(--aq-shadow);
                z-index: -1;
            }


        }

        .icon img {
            width: 80px;
            background-color: var(--aq-dark);
            border-radius: 50%;
            /* rotate: 90deg; */
            height: 80px;
            object-fit: contain;
        }

        .title {
            color: var(--aq-dark) !important;
        }
    }

    .batch_info {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px 0px;

        .info_card {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;


            .icon {
                min-width: 70px;
                width: 70px;
                min-height: 70px;
                height: 70px;
                border-radius: 30%;
                /* background-color: var(--aq-white); */
                box-shadow: 0px 0px 5px var(--aq-shadow);
                display: flex;
                justify-content: center;
                align-items: center;
                rotate: 45deg;

                .inner {
                    /* background-color: var(--aq-dark); */
                    color: var(--aq-white);
                    font-size: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    rotate: -45deg;
                }

                .inner img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card_text {
                margin-left: 25px;
                margin-top: 25px;
            }
        }
    }
}

#shahih-tajwid {
    /* box-shadow: 0px 0px 5px var(--aq-shadow); */

    .h4 {
        font-family: "kohinor" !important;
    }
}

#home_achievement {
    background-color: var(--aq-dark);
    padding: 25px 0px;

    .icon {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
            width: 80px;
            min-width: 80px;
            height: 80px;
            min-height: 80px;
            border-radius: 50%;
            background-color: var(--aq-white);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                box-shadow: 0px 0px 5px var(--aq-shadow);
            }

        }

        .inner img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .h2 {
        text-align: center;
        margin-top: 25px;
        color: var(--aq-white);
    }


    .owl-carousel {
        margin-top: 50px;
    }
}

#certificate_carousel img {
    border-radius: 12px;
}

#home_short_view {
    background-color: var(--aq-white);
    padding: 75px 0;

    .short {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 20px;

        .shorts {
            border: 1px solid var(--aq-shadow);
            padding: 25px;
            border-radius: 12px;
            position: relative;
            overflow: hidden;
            background-color: var(--aq-dark);
            color: var(--aq-white);
            text-align: center;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                height: 85%;
                border: 1px solid var(--aq-white);
                border-radius: 12px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 80px;
                height: 80px;
                /* border-radius: 50px; */
                background-color: #dddddd5f;
                border-bottom-right-radius: 50px;
                box-shadow: -2px -2px 5px #00000020;
            }

        }

        .shorts img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            position: absolute;
            bottom: 0;
            left: 0;

        }
    }

}

#follow_us {

    .follow_div {
        border-radius: 12px;
        box-shadow: 0px 0px 50px var(--aq-shadow);
        overflow: hidden;

        .col-md-3 {
            padding: 15px 25px;
            background-color: var(--aq-dark);
            display: flex;
            justify-content: center;
            align-items: center;

            .img {}

        }

        .col-md-9 {
            padding: 15px 25px;

        }
    }
}