nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#home_banner {
    height: 100vh;
    background-color: var(--aq-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--aq-white);

    .banner {
        width: 100%;

        .heading_font {
            padding: 10px 0px;
            color: var(--aq-dark);
            width: 100%;
            background: linear-gradient(90deg, transparent, white, transparent);
        }
    }

}


#home_our_cources {
    background-color: var(--aq-dark);
    color: var(--aq-white);

    .cources {
        /* max-width: 360px; */
        width: 100%;
        /* height: 15px; */
        margin-bottom: 25px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .icon {
            min-width: 70px;
            width: 70px;
            min-height: 70px;
            height: 70px;
            background-color: var(--aq-white);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            /* border-radius: 50px 20px 20px 25px; */
            /* border: 1px solid var(--aq-white); */
            border-radius: 50%;
            /* rotate: 45deg; */
            margin: 0px 25px 25px 0px;
            position: relative;

            .inner {
                width: 55px;
                height: 55px;
                /* border-radius: 50px 20px 20px 25px; */
                /* border-radius: 20px 25px 50px 20px; */
                border-radius: 50%;
                /* rotate: -45deg; */
                z-index: 1;
                background-color: var(--aq-primary);
                /* box-shadow: 0px 0px 5px var(--aq-shadow); */
                color: var(--aq-white);
                font-size: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                /* border: 1px solid var(--aq-dark); */
            }
        }

        .desc {
            /* padding-left: 15px; */
        }


    }

    p {
        color: var(--aq-shadow);
    }
}


#home_login {
    .desc {
        .h2 {
            color: var(--aq-dark);
        }

        text-align: center;
        padding: 100px 25px;

        /* background-color: var(--aq-primary); */
        .btn_primary {
            border-radius: 25px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95%;
                height: 90%;
                border-radius: 25px;
                border: 1px solid var(--aq-white);
            }
        }
    }
}

.batch {
    .batch_title {
        .icon {
            /* background-color: #000; */
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            /* border: 1px solid var(--aq-dark); */
            box-shadow: 0px 0px 5px var(--aq-shadow);
            margin-bottom: 1rem;
            position: relative;
            z-index: 1;
            /* background-color: var(--aq-dark); */
            width: 100px;
            height: 100px;

            .inner {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translatex(-50%);
                background-color: var(--aq-white);
                border-radius: 50%;
                /* border: 1px solid var(--aq-dark); */
                font-size: 18px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 0px 5px var(--aq-shadow);
                color: var(--aq-dark);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 360px;
                height: 1px;
                background-color: var(--aq-shadow);
                z-index: -1;
            }


        }

        .icon img {
            width: 80px;
            background-color: var(--aq-dark);
            border-radius: 50%;
            rotate: 90deg;
        }

        .title {
            color: var(--aq-dark) !important;
        }
    }

    .batch_info {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 25px 0px;

        .info_card {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;


            .icon {
                min-width: 70px;
                width: 70px;
                min-height: 70px;
                height: 70px;
                border-radius: 30%;
                /* background-color: var(--aq-white); */
                box-shadow: 0px 0px 5px var(--aq-shadow);
                display: flex;
                justify-content: center;
                align-items: center;
                rotate: 45deg;

                .inner {
                    /* background-color: var(--aq-dark); */
                    color: var(--aq-white);
                    font-size: 28px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    rotate: -45deg;
                }

                .inner img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card_text {
                margin-left: 25px;
            }
        }
    }
}

#shahih-tajwid {
    padding: 25px 0px;
    margin: 25px 0px;
    /* box-shadow: 0px 0px 5px var(--aq-shadow); */

    .h4 {
        font-family: "kohinor" !important;
    }
}